body {
    background-color: #f0f8ff;
}
h1{
    color:#5b12ff;
}
    tr {
    color: black;
        }
    th{
    color:black;
    width:50%;
    height:400px;
        }

div {
margin-left:100px;
width:100%;
position:relative;

}
button{
            display:inline-block;
            width:15%;
            padding:15px 32px;
            border-radius : 8px;
            background-color:#fff4ca;
            margin: auto;
            font-size:20px;
            }
        button:hover{
            background-color:#122139;
            color:yellow;
            cursor:pointer;
            text-shadow: 0 0 .1em, 0 0 .3em;
            }
table {
    width:100%;
    margin-top: 0px;
    margin-left: 0px;
}
footer {
    background-color: #122139;
    border-left: #00b5ff 8px solid;
    }
a {
 color: black;
}
a1 {
    color: white;
    }
#flaticon1{
    width: 100px;
    height: 100px;
    margin-top:-105px;
    left:52%;
    position:absolute;
}



