body {
    background: linear-gradient( to right,#8e9eab,#eef2f3)
}
hr {
    color:black;
}
h1 {
    width:100%;
    margin:auto;
    font-size:40px;
    color:#eeeeee;
    padding-bottom:5px;
    border-left: #00b5ff 8px solid;
    background-color: #282828;
    border-radius:5px;
}
div {
    margin-left:100px;
    width:100%;
    position:relative;
}
button {
    position:relative;
    margin: auto;
    width:18%;
    background-color: #122139;
    color: white;
    padding:15px 32px;
    font-size : 24px;
    border-radius : 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    }
.button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
.button:hover {
    background-color: #122139;
    color: white;
}
footer {
    background-color: #122139;
    border-left: #00b5ff 8px solid;
    }
a {
 color: black;
 text-decoration:none;
}
a1 {
    color: white;
    }
h2 {
    margin-left:150px;
}
h5 {
    text-align:left;
    margin-left:150px;
}