body {
    background-color:#701616c2;
    color:white;
}
h1{
    color:white;
}
#explanation{
    position: absolute;
    margin: 10px;
    top: 312px;
    font-size: x-large;
}
#allcrimecomparison{
    margin:100px;
}

#flaticon1{
    width: 100px;
    height: 100px;
    top:0%;
    left:62%;
    position:absolute;
}
#flaticon2{
    width: 190px;
    height: 170px;
    top: 77%;
    left: 85%;
    position:absolute;
}


.tag{
    margin-bottom:10px;
    font-size: 1.5em;
    margin:30px;
    color:pink;
}
.tag:hover {
    color: white;
}

button {
    position:relative;
    margin: auto;
    width:15%;
    background-color: #D3D3D3;
    color: #D3D3D3;
    padding:15px 32px;
    font-size : 24px;
    border-radius : 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-bottom:20px;

    }
.title_button {
    background-color: #792621;
    color: black;
    border: 2px solid #8a0f0f1a;

}
.title_button:hover {
    background-color: #122139;
    color: white;

}
