body {
    background-color: #f0f8ff;
    color:white;
    font-family:"Nanum Gothic";
}
h1{
    color:#5b12ff;
}

#explanation{
    width:700px;
    height: 300px;
    position: absolute;
    margin: 10px;
    top: 312px;
    font-size: x-large;
    color:black;
}
#allcrimecomparison{
    margin:65px;
    margin-left:100px;
}

#flaticon1{
    width: 100px;
    height: 100px;
    top:0%;
    left:59%;
    position:absolute;
}
#flaticon2{
    width: 190px;
    height: 170px;
    top: 77%;
    left: 85%;
    position:absolute;
}
#flaticon3{
    width: 158px;
    height: 140px;
    top: 54%;
    left: 50%;
    position: absolute;
}
#sub{
    color: black;
    top: 69%;
    left: 52%;
    position: absolute;
}
#box{
    width:500px;
    height: 200px;
}
.tags {
margin-left:150px;
margin-top:15px;
}

.tag{
    margin-bottom:30px;
    font-size: 1.5em;
    margin:30px;
    color:black;
}
.tag:hover {
    color: red;
}
.buttons {
margin-left:100px;
width:100%;
}

button{
            display:inline-block;
            width:18%;
            padding:15px 32px;
            border-radius : 8px;
            background-color:#fff4ca;
            margin: auto;
            font-size:20px;
            }
        button:hover{
            background-color:#122139;
            color:yellow;
            cursor:pointer;
            text-shadow: 0 0 .1em, 0 0 .3em;
            }
