h1 {
    padding: 0.7rem;
    border-left: 5px solid #2196f3;
    background-color: #122139;
    color: white;
    width:100%;
}
    tr {
    color: black;
        }
    th{
    color:white;
        }

div {
margin-left:100px;
width:100%;
position:relative;

}
button {
    position:relative;
    margin: auto;
    width:15%;
    background-color: #122139;
    color: white;
    padding:15px 32px;
    font-size : 24px;
    border-radius : 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    }
.button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;

}
.button:hover {
    background-color: #122139;
    color: white;
}
table {
    margin-top: 0px;
    margin-left: 200px;
}
footer {
    background-color: #122139;
    }

a1 {
color:white;
}




