<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <style>
        .cls1 {
            text-decoration: none;
        }
        .cls2 {
            text-align: center;
            font-size: 30px;
            display: block;
        }
    </style>
</head>
<body>
    <table align="center" border = "1" width="80%">
        <thead>
            <tr height="10", align="center" bgcolor="lightgreen">
                <th>글번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody>

            <tr align="center">
                <td width="5%"></td>
                <td width="10%"></td>
                <td align="left" width="35%">
                    <span style="padding-right:30px"></span>
                    <a class="cls1"></a></td>
                <td width="10%"></td>
            </tr>

        </tbody>

        <tbody>
            <tr height="10">
                <td colspan="4">
                    <p align="center">
                        <b><span style="font-size: 15pt;"> 등록된 글이 없습니다. </span></b>

                    </p>
                </td>

            </tr>
        </tbody>

    </table>

        <span class="cls2">글쓰기</span>
    </a>
</body>
</html>