<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>소년범죄</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <h1 align="center" > JUVENILE CRIME</h1><br>
    <div><img id="flaticon1" src="{% static 'img/police-handcuffs.png' %}"></div>
    <div align="left">
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:home' %}'">홈으로</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:compare_view' %}'">개정전후</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:heinous_view' %}'">주요범죄</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:recidivism_view' %}'">재범기간</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:motive_view' %}'">범행동기</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:usa_view' %}'">해외범죄</button>
    </div>
<br>
<table cellpadding="0" cellspacing="-50">
    <tr>
        <th><img src="https://news.imaeil.com/inc/photos/2021/05/13/2021051316090049900_l.jpg" width="80%" height="400"><br>
        '경북 포항 여중생 A양 집단폭행 및 조건만남 강요 사건의‥<a href="https://news.imaeil.com/Society/2021070816364541154">기사보기</a>
        </th>
        <th><img src="https://www.thepublic.kr/news/data/20201120/p1065593959996231_850_thum.jpg" width="80%" height="400"><br>
        10대 청소년 637명 참여 ‘소년법’ 관련 설문조사 발표‥<a href="https://www.thepublic.kr/news/newsview.php?ncode=1065593959996231">기사보기</a>
        </th>
    </tr>
    <tr>
        <th><img src="http://image.kmib.co.kr/online_image/2021/0618/2021061717365239776_1623919013_0015962388.jpg" width="80%" height="400"> <br>
        “나 촉법소년인데 왜…” 13세, 보호관찰 안 지켜→소년원행.. <a href="http://news.kmib.co.kr/article/view.asp?arcid=0015962388&code=61121211&cp=nv">기사보기</a>
        </th>
        <th><iframe src="https://www.youtube.com/embed/kTjx-LKJxvo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="80%" height="400"></iframe><br>
        소년법 이용하는 청소년... 촉법소년 처벌 개정 vs 폐지
        </th>
    </tr>
</table>
</body>
<footer align="center">
    <address>
      <a href="http://www.bitacademy.com/"> <img src="http://www.bitacademy.com/Images/Btns/btn_footer_LogoBitacademy.png">
        </a><br></address>
        <a1> 서울특별시 서초구 서초대로74길33 비트빌3층</a1> <br>
        <a1>copyright by © 2021. 강동우, 김준형, 박정환, 이찬우 </a1> <br>
        <a href="https://www.nypi.re.kr/archive/board?menuId=MENU00319&siteId=null" style="color:white">청소년범죄통계</a>
        <a href="https://www.cyber1388.kr:447/" style="color:white">청소년사이버상담센터</a>
        <a href="https://www.kyci.or.kr/userSite/index.asp" style="color:white">한국청소년상담복지개발원</a>
        <a href="http://www.bumbang.or.kr/" style="color:white">청소년범죄예방위원전국연합회</a>
</footer>
</html>