<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title> 범죄의 재범률</title>
    <link rel="stylesheet" href="{% static 'css/recidivism.css' %}">
</head>
<body>
<h1 align="center" > 소년범죄에 대해서</h1><br>
    <div align="left">
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:home' %}'">홈으로</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:recidivism_view' %}'">재범기간</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:motive_view' %}'">범행동기</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:usa_view' %}'">해외범죄</button>
        <button type="button" class="button button" align="center">1</button>
        <button type="button" class="button button" align="center">2</button>
    </div>
<br><br>
    <table>
        <tr>
            <th><img src="../../static/img/recidivism.png" style="margin-left:100px" width="80%" height="80%"></th>
            <th><img src="../../static/img/recidivism2.png" style="margin-left:-50px" width="100%" height="80%"></th>
            <th><a style="margin-left:0px">그래프를 확인함으로써 알수있는 사실은 소년범의 재범기간은 1년이내에<br>
                　　76.26%이 성인범의 재범기간은 1년이내 26.58%로 굉장히 큰 차이가 있으며<br>
            성인은 1년후 범죄가 약 73.41%, 소년범의 경우에는 23.74% 밖에 안되는걸 알수있다.<br>
           미성년자 범죄는 재범기간이 짧은만큼 더 각별한 주의가 필요할 것으로 보인다.</th><br><br>
        </tr>
    </table>
    <p style="margin-left:1030px">기간 : 2013 ~ 2019 출처 : 통계청</p>
    <hr style="border: solid 1px black">
    <h3 style="margin-left:150px"> 성인의 재범자 수</h3>
    <img src="../../static/img/adult.png" style="margin-left:150px"><br>
    <p style="margin-left:900px">기간 : 2013 ~ 2019 출처 : 통계청</p>
    <h3 style="margin-left:150px"> 소년범의 재범자 수</h3>
    <img src="../../static/img/boy.png" style="margin-left:150px">
    <p style="margin-left:900px">기간 : 2013 ~ 2019 출처 : 통계청</p>
    <br><br><hr style="border: solid 1px black">
    <br>
    <h2>"출소 후 무위도식 소년범 재범기간 짧아져"</h2>
    <h5>소년원이나 소년교도소를 나간 뒤 경제활동을 하는지에 따라 재범기간이 크게는 2배 가까이 차이 나는 것으로 나타났다.<br>
        13일 한국청소년정책연구원이 낸 '소년 범죄자의 재범 실태 및 방지 대책 연구에 따르면 연구원이 소년범 230명을 대상으로 한 설문조사에서<br>
        과거 자신의 출원·출소 후 활동과 재범기간을 밝힌 재범 소년범은 153명이었다. 이중 44명은 일을 했다고 답했고, 이들의 재범까지 걸리는 기간은 평균 10.02개월이었다.<br>
        반면 소년원 등을 나온 뒤 특별히 한 일이 없다거나 병치료를 했다고 답한 재범 소년범은 65명으로, 이들의 재범기간은 평균 5.85개월로 2배 가까이 짧았다. <br>
        복학·검정고시·자격증 준비, 직업훈련 등 교육을 받았다고 답한 소년범은 44명으로 재범으로 다시 시설에 수용되기까지 평균 8.36개월이 걸렸다.<br>
        이들은 재범방지를 위해 가장 필요한 조건으로 '비행 친구와의 교우 단절'(33.6%), '취업을 통한 생계 안정'(31.0%)을 꼽은 경우가 많았다.<br>
        아울러 보호소년 94%, 소년수형자 93.9%가 출원·출소 후 다시는 범죄를 저지르지 않을 것으로 각각 답했다.
        </h5><br><hr style="border: solid 1px black"><br>
    <h2>"소년범 첫 범죄 평균 나이 13.9세…70%는 동네 친구와 공모"</h2>
    <h5>우선 2006년부터 2012년 사이의 불규칙한 반등 구간을 제외하면 1997년 이후 지난 20년간 우리사회의 소년범은 꾸준히 줄어들고 있는 추세다.<br>
        그러나 소년범은 해를 거듭할수록 줄고 있으나 재범자의 비율은 반대로 증가하고 있다.<br>
        매해 검거되는 소년범 가운데 전과기록이 있는, 즉 재범으로 다시 검거되는 소년범의 비율은 1976년 7.8%에서 2016년 38.9%로 늘어났다.<br>
        40년 사이 소년 재범자 비율이 다섯 배가량 증가한 셈이다.<br><br>
        더불어 재범자 가운데서도 전과 1·2범의 점유율은 줄어들고(1976년 94.8%→2016년 49.3%) 전과 3범 이상의 점유율은 같은 시기 5.2%에서 50.7%로 늘어났다.<br>
        특히 9범 이상의 전과자 점유율이 2000년대에 접어들며 두드러지는데 2013년부터 전체 재범자의 10%를 상회하고 있다.
    </h5><hr style="border: solid 1px black">
<br><br>
        <a href="https://www.seoul.co.kr/news/newsView.php?id=20201110500126" target="_blank">
        <img src="https://img3.yna.co.kr/photo/cms/2019/01/22/65/PCM20190122000165990_P4.jpg" width="400px" height="300px" style="margin-left:150px">촉법소년 이름 뿐인 ‘보호’처분…“차라리 형사재판 받겠다”</a><br>
        <a href="https://news.mt.co.kr/mtview.php?no=2020040614053393908" target="_blank">
            <img src="	https://thumb.mt.co.kr/06/2020/04/2020040614053393908_1.jpg/dims/optimize/" width="400px" height="300px" style="margin-left:150px">증가하는 ‘소년범죄’ 재범률…법무부 “수사단계부터 개입한다”</a><br>
        <iframe width="500" height="315" style="margin-left:150px" src="https://www.youtube.com/embed/kDvTCXvNmqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="500" height="315" src="https://www.youtube.com/embed/tXBdNis4RDY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </a>
</body>
<footer align="center">
    <address>
      <a href="http://www.bitacademy.com/"> <img src="http://www.bitacademy.com/Images/Btns/btn_footer_LogoBitacademy.png">
        </a><br></address>
        <a1> 서울특별시 서초구 서초대로74길33 비트빌3층</a1> <br>
        <a1>copyright by © 2021. 강동우, 김준형, 박정환, 이찬우 </a1> <br>
        <a href="https://www.nypi.re.kr/archive/board?menuId=MENU00319&siteId=null" style="color:white">청소년범죄통계</a>
        <a href="https://www.cyber1388.kr:447/" style="color:white">청소년사이버상담센터</a>
        <a href="https://www.kyci.or.kr/userSite/index.asp" style="color:white">한국청소년상담복지개발원</a>
        <a href="http://www.bumbang.or.kr/" style="color:white">청소년범죄예방위원전국연합회</a>
</footer>
</html>