<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>한국, 해외 비교</title>
    <link rel="stylesheet" href="{% static 'css/usa.css' %}">
    <script>

        function show(idx){
            if(idx == "0"){
                document.querySelector("#allcrimecomparison").src ="{% static 'img/korusa.png' %}";
                var x = document.querySelector("#allcrimecomparison");
                if (x.style.display === "") {
                    x.style.display == "block";
                }
            }else if(idx == "1"){
                document.querySelector("#allcrimecomparison").src ="{% static 'img/property.png' %}";
                var x = document.querySelector("#allcrimecomparison");

            }else if(idx == "2"){
                document.querySelector("#allcrimecomparison").src ="{% static 'img/murders.png' %}";
                var x = document.querySelector("#allcrimecomparison");

            }else if(idx == "3"){
                document.querySelector("#allcrimecomparison").src ="{% static 'img/assault.png' %}";
                var x = document.querySelector("#allcrimecomparison");

            }else if(idx == "4"){
                document.querySelector("#allcrimecomparison").src ="{% static 'img/arson.png' %}";
                var x = document.querySelector("#allcrimecomparison");

            }else if(idx == "5"){
                document.querySelector("#allcrimecomparison").src ="{% static 'img/robbery.png' %}";
                var x = document.querySelector("#allcrimecomparison");
            }
        }
        function hide(){
            document.querySelector("#allcrimecomparison").src = "{% static 'img/criminal.png' %}";

        }
    </script>
</head>

<body>
<h1 align="center" > JUVENILE CRIME</h1><br>
<div align="left">
<button type="button" class="title_button" align="center" >재범률</button>
<button type="button" class="title_button" align="center">재범기간</button>
<button type="button" class="title_button" align="center" onclick="location.href='{% url 'home:usa_view' %}'">해외범죄율</button>
<button type="button" class="title_button" align="center">강동우</button>
<button type="button" class="title_button" align="center">조재익</button>
<button type="button" class="title_button" align="center" onclick="location.href='{% url 'home:board_view' %}'">게시판</button>
</div>


<span class="tag" onclick="show(0)"> 연도별 한국 미국 총범죄 비교</span>
<span class="tag" onclick="show(1)">재산범죄</span>
<span class="tag" onclick="show(2)">살인</span>
<span class="tag" onclick="show(3)">폭행</span>
<span class="tag" onclick="show(4)">방화</span>
<span class="tag" onclick="show(5)">강도</span>
     <div id="pictures"><img id="allcrimecomparison" src="{% static 'img/criminal.png' %}"></div>
<div><img id="flaticon" src="{% static 'img/police-handcuffs.png' %}"></div>





</body>

</html>