<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <title>새 글 작성</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .write_table {
            margin-left:500px;
        }

    </style>
</head>
<body>
 <h1 align="center" > 소년범죄에 대해서</h1><br>
    <div align="left">
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:home' %}'">홈으로</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:recidivism_view' %}'">재범률</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:usa_view' %}'">해외범죄율</button>
        <button type="button" class="button button" align="center">1</button>
        <button type="button" class="button button" align="center">2</button>
        <button type="button" class="button button" align="center" onclick="location.href='{% url 'home:board_view' %}'">게시판</button>
    </div>
<br>
  <h2 style="text-align:center"> 새글 쓰기 </h2>

  {%csrf_token%}
    <table class="write_table" border="0" align="center">
        <tbody>
          <tr>
              <td align="right" > 글제목:</td>
              <td colspan="2"><input type="text" size="98" maxlength="130" name="title"> </td>
          </tr>
          <tr>
              <td align="right"> 닉네임:</td>
              <td colspan="2"><input type="text" size="98" maxlength="130" name="nickname"> </td>
          </tr>
          <tr>
              <td align="right" valign="top" ><br> 글내용:</td>
            <td colspan="2"><textarea name="content" rows="15" cols="100" maxlength="1800"></textarea></td>
          </tr>

          <tr>
              <td align="right" ></td>
              <td colspan="2">
                <input type="submit" value="글쓰기">
                <input type="button" value="목록보기" onclick="backToList(this.form)">
              </td>
          </tr>
        </tbody>
    </table>

  </form>
</body>
<footer align="center">
    <address>
      <a href="http://www.bitacademy.com/"> <img src="http://www.bitacademy.com/Images/Btns/btn_footer_LogoBitacademy.png">
        </a1><br></address>
        <a1> 서울특별시 서초구 서초대로74길33 비트빌3층</a1> <br>
        <a1>copyright by © 2021. 강동우, 김준형, 박정환, 이찬우 </a1> <br>
        <a href="https://www.nypi.re.kr/archive/board?menuId=MENU00319&siteId=null" style="color:white">청소년범죄통계</a>
        <a href="https://www.cyber1388.kr:447/" style="color:white">청소년사이버상담센터</a>
        <a href="https://www.kyci.or.kr/userSite/index.asp" style="color:white">한국청소년상담복지개발원</a>
        <a href="http://www.bumbang.or.kr/" style="color:white">청소년범죄예방위원전국연합회</a>
</footer>
</html>